src/external/3rd/library/dpvs/implementation/msvc8/release/
*.opensdf
*.sdf
*.suo
*.aps
*.idb
*.pdb
./src/external/3rd/library/platform/utils/Base/debug/*
./src/external/3rd/library/platform/utils/Base/release/*
*/*.obj
*.log
*.vcxproj.user
dpvs.lib
*.lib
src/engine/server/library/serverGame/src/shared/generated/Packager.cpp
src/external/3rd/library/platform/projects/Session/CommonAPI/debug/
src/external/3rd/library/platform/projects/Session/LoginAPI/debug/
src/external/3rd/library/platform/utils/Base/debug/
src/game/server/application/SwgDatabaseServer/src/shared/generated/Decoder.cpp
src/game/server/application/SwgDatabaseServer/src/shared/generated/Encoder.cpp
src/game/server/application/SwgDatabaseServer/src/shared/generated/Schema.h
*.zip
*.pdb
*.lnk
.tar.*
.a
.md5.h.kate-swp
.pdb
exe/win32/.exe
.kdev*
lib/
obj/
*.kdev4
.depend
.libs/
compile/
*.status
*.log
.deps/
*.o
*.lst
*.eep
*.lss
*.map
*.sym
Makefile
Makefile.in
src/compile
aclocal.m4
autom4te.cache/
config/
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
deps/
dirstamp
libs/
*.l[ao]
*~
*.swp
.*.swp
src/build/win32/UpgradeLog.htm
src/build/win32/ipch/
src/build/win32/swg.VC.VC.opendb
src/build/win32/swg.VC.db
src/engine/shared/application/Turf/build/win32/FirstTurf.i
src/engine/shared/application/Turf/src/win32/FirstTurf.cpp.PVS-Studio.cfg
src/engine/shared/application/Turf/src/win32/FirstTurf.cpp.PVS-Studio.cmd
src/external/3rd/library/dpvs/implementation/msvc8/debug/
src/external/3rd/library/udplibrary/CMakeLists.txt
src/external/3rd/library/udplibrary/UdpLibrary.cpp.PVS-Studio.cfg
src/external/3rd/library/udplibrary/UdpLibrary.cpp.PVS-Studio.cmd
src/external/3rd/library/udplibrary/UdpLibrary.cpp~RF869406.TMP
src/external/3rd/library/wolfssl/
src/build/win32/.vs/*