src/engine/server/library/serverGame/src/shared/generated/Packager.cpp
src/external/3rd/library/platform/projects/Session/CommonAPI/debug/
src/external/3rd/library/platform/projects/Session/LoginAPI/debug/
src/external/3rd/library/platform/utils/Base/debug/
src/game/server/application/SwgDatabaseServer/src/shared/generated/Decoder.cpp
src/game/server/application/SwgDatabaseServer/src/shared/generated/Encoder.cpp
src/game/server/application/SwgDatabaseServer/src/shared/generated/Schema.h
*.zip
*.pdb
*.lnk
.tar.*
.a
.md5.h.kate-swp
.pdb
exe/win32/.exe
.kdev*
lib/
obj/
*.kdev4
.depend
.libs/
compile/
*.status
*.log
.deps/
*.o
*.lst
*.eep
*.lss
*.map
*.sym
build/
Makefile
Makefile.in
src/compile
aclocal.m4
autom4te.cache/
config/
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
deps/
dirstamp
libs/
*.l[ao]
*~
external/3rd/library/soePlatform/CSAssist/projects/CSAssist/CSAssistgameapi/debug/
external/3rd/library/soePlatform/CSAssist/projects/CSAssist/CSAssistgameapi/release/
