CentralServer local debug/CentralServer -- @serverNetwork.cfg @servercommon.cfg -s CentralServer
ConnectionServer local debug/ConnectionServer -- @serverNetwork.cfg @servercommon.cfg
SwgDatabaseServer local debug/SwgDatabaseServer -- @serverNetwork.cfg @servercommon.cfg
PlanetServer local debug/PlanetServer -- @serverNetwork.cfg @servercommon.cfg
SwgGameServer any debug/SwgGameServer -- @serverNetwork.cfg @servercommon.cfg
ChatServer local debug/ChatServer -- @serverNetwork.cfg @servercommon.cfg
LogServer local debug/LogServer -- @serverNetwork.cfg @logServerTargets.cfg
#MetricsServer local debug/MetricsServer -- @serverNetwork.cfg @servercommon.cfg
#CommoditiesServer local debug/CommoditiesServer -- @serverNetwork.cfg @servercommon.cfg
