[PlanetServer]
preloadDataTableName=datatables/planet_server/preload_list_heavy.iff

[TaskManager]
#default maximumLoad is 3.0f
#this can be defined in taskmanager.cfg for node0, remote_taskmanager.cfg for other boxes
#gameserver       - 1.0f
#connectionserver - 0.5f
#planetserver     - 0.128f

#begin load distribution

#2 - Xeon 3.4Ghz / 8Gb
maximumLoad.node1=9.0f
#tatooine.4 (Bestine)
preferredNode="node1:SwgGameServer:preloadNumber=4 sceneID=tatooine groundScene"
#naboo.1 (Theed, GCW base, outside Keren)
preferredNode="node1:SwgGameServer:preloadNumber=1 sceneID=naboo groundScene"
#tatooine.3 (North of Mos Taike, outside Mos Entha) : space_npe_falcon_2
preferredNode="node1:SwgGameServer:preloadNumber=3 sceneID=tatooine groundScene"
preferredNode="node1:SwgGameServer:sceneID=space_npe_falcon_2 groundScene"
#dantooine.3 (Mining Outpost) : dathomir.1 (N-trade outpost, singing mountain, imperial prison)
preferredNode="node1:SwgGameServer:preloadNumber=3 sceneID=dantooine groundScene"
preferredNode="node1:SwgGameServer:preloadNumber=1 sceneID=dathomir groundScene"

preferredNode="node1:PlanetServer:sceneID=space_corellia watcherServicePort"

preferredNode="node1:ChatServer:ChatServer"

#3 - Xeon 3.4Ghz / 8Gb
maximumLoad.node2=9.0f
#tatooine.9 (Mos Eisley) : corellia.4 (Coronet, GCW base)
preferredNode="node2:SwgGameServer:preloadNumber=9 sceneID=tatooine groundScene"
preferredNode="node2:SwgGameServer:preloadNumber=4 sceneID=corellia groundScene"
#endor.1 (N-Smuggler Outpost) : lok.2 (SW-Imperial Outpost)
preferredNode="node2:SwgGameServer:preloadNumber=1 sceneID=endor groundScene"
preferredNode="node2:SwgGameServer:preloadNumber=2 sceneID=lok groundScene"
#yavin4.2 (S-Labor Outpost, Imperial Fortress) : rori.1 (N-outside Restuss)
preferredNode="node2:SwgGameServer:preloadNumber=2 sceneID=yavin4 groundScene"
preferredNode="node2:SwgGameServer:preloadNumber=1 sceneID=rori groundScene"

preferredNode="node2:PlanetServer:sceneID=space_endor watcherServicePort"
preferredNode="node2:PlanetServer:sceneID=space_yavin4 watcherServicePort"

#4 - Xeon 3.4Ghz / 8Gb
maximumLoad.node3=9.0f
# tutorial.1 (North) : rori.3 (Restuss)
preferredNode="node3:SwgGameServer:preloadNumber=1 sceneID=tutorial groundScene"
preferredNode="node3:SwgGameServer:preloadNumber=3 sceneID=rori groundScene"
#endor.2 (S-Research Outpost) : naboo.6 (Keren)
preferredNode="node3:SwgGameServer:preloadNumber=2 sceneID=endor groundScene"
preferredNode="node3:SwgGameServer:preloadNumber=6 sceneID=naboo groundScene"
#tatooine.7 (Mos Espa) : dantooine.1 (NW)
preferredNode="node3:SwgGameServer:preloadNumber=7 sceneID=tatooine groundScene"
preferredNode="node3:SwgGameServer:preloadNumber=1 sceneID=dantooine groundScene"

preferredNode="node3:PlanetServer:sceneID=naboo watcherServicePort"
preferredNode="node3:PlanetServer:sceneID=corellia watcherServicePort"

#5 - Xeon 3.4Ghz / 8Gb
maximumLoad.node4=9.0f
# dathomir.3 (Death Troopers) : space_ord_mantell : adventure2 (Hoth)
preferredNode="node4:SwgGameServer:preloadNumber=3 sceneID=dathomir groundScene"
preferredNode="node4:SwgGameServer:sceneID=space_ord_mantell groundScene"
preferredNode="node4:SwgGameServer:sceneID=adventure2 groundScene"
#talus.2 (NE-Nashal) : lok.3 (SE)
preferredNode="node4:SwgGameServer:preloadNumber=2 sceneID=talus groundScene"
preferredNode="node4:SwgGameServer:preloadNumber=3 sceneID=lok groundScene"
#dungeon1.3 (Star Destroyer)
preferredNode="node4:SwgGameServer:preloadNumber=3 sceneID=dungeon1 groundScene"

preferredNode="node4:PlanetServer:sceneID=space_corellia watcherServicePort"
preferredNode="node4:PlanetServer:sceneID=space_lok watcherServicePort"

#6 - Xeon 3.4Ghz / 8Gb
maximumLoad.node5=9.0f
# adventure1 (Tusken King) : talus.3 (NW-Imperial Outpost)
preferredNode="node5:SwgGameServer:sceneID=adventure1 groundScene"
preferredNode="node5:SwgGameServer:preloadNumber=3 sceneID=talus groundScene"
#dantooine.2 (NE) : naboo.4 (S,E-Deeja Peak, outside Moenia)
preferredNode="node5:SwgGameServer:preloadNumber=2 sceneID=dantooine groundScene"
preferredNode="node5:SwgGameServer:preloadNumber=4 sceneID=naboo groundScene"
# talus.4 (Dearic) : tatooine.6 (Anchorhead)
preferredNode="node5:SwgGameServer:preloadNumber=4 sceneID=talus groundScene"
preferredNode="node5:SwgGameServer:preloadNumber=6 sceneID=tatooine groundScene"

preferredNode="node5:PlanetServer:sceneID=space_npe_falcon_2 watcherServicePort"
preferredNode="node5:PlanetServer:sceneID=space_ord_mantell watcherServicePort"

#7 - Xeon 3.4Ghz / 8Gb
maximumLoad.node6=9.0f
#space_corellia : space_lok : lok.1 (N-Nym's Stronghold) : kashyyyk_dead_forest
preferredNode="node6:SwgGameServer:sceneID=space_corellia groundScene"
preferredNode="node6:SwgGameServer:sceneID=space_lok groundScene"
preferredNode="node6:SwgGameServer:preloadNumber=1 sceneID=lok groundScene"
preferredNode="node6:SwgGameServer:sceneID=kashyyyk_dead_forest groundScene"
#dathomir.2 (South-Science outpost, nightsister stronghold, Aurilia) : space_npe_falcon_3
preferredNode="node6:SwgGameServer:preloadNumber=2 sceneID=dathomir groundScene"
preferredNode="node6:SwgGameServer:sceneID=space_npe_falcon_3 groundScene"

preferredNode="node6:PlanetServer:sceneID=kashyyyk_main watcherServicePort"
preferredNode="node6:PlanetServer:sceneID=kashyyyk_dead_forest watcherServicePort"

#8 - Xeon 3.4Ghz / 8Gb
maximumLoad.node7=9.0f
#space_endor : dathomir.4 (Death Troopers) : kashyyyk_pob_dungeons
preferredNode="node7:SwgGameServer:sceneID=space_endor groundScene"
preferredNode="node7:SwgGameServer:preloadNumber=4 sceneID=dathomir groundScene"
preferredNode="node7:SwgGameServer:sceneID=kashyyyk_pob_dungeons groundScene"
#yavin4.1 (N-Mining Outpost)
preferredNode="node7:SwgGameServer:preloadNumber=1 sceneID=yavin4 groundScene"
#dantooine.5 (South Central-Pirate Outpost) : dungeon1.1 (Corellian Corvette, Tansarii Station, Gamma Station, IG-88, Axkva Min, Exar Kun)
preferredNode="node7:SwgGameServer:preloadNumber=5 sceneID=dantooine groundScene"
preferredNode="node7:SwgGameServer:preloadNumber=1 sceneID=dungeon1 groundScene"

preferredNode="node7:PlanetServer:sceneID=kashyyyk_rryatt_trail watcherServicePort"
preferredNode="node7:PlanetServer:sceneID=kashyyyk_pob_dungeons watcherServicePort"

#9 - Xeon 3.2Ghz / 4Gb
maximumLoad.node8=5.0f
#space_tatooine : space_naboo : rori.2 (S-Narmle)
preferredNode="node8:SwgGameServer:sceneID=space_tatooine groundScene"
preferredNode="node8:SwgGameServer:sceneID=space_naboo groundScene"
preferredNode="node8:SwgGameServer:preloadNumber=2 sceneID=rori groundScene"

preferredNode="node8:PlanetServer:sceneID=space_tatooine watcherServicePort"
preferredNode="node8:PlanetServer:sceneID=space_naboo watcherServicePort"
preferredNode="node8:PlanetServer:sceneID=kashyyyk_south_dungeons watcherServicePort"

#10 - Xeon 3.2Ghz / 4Gb
maximumLoad.node9=6.0f
#space_dantooine : space_light1 : kashyyyk_rryatt_trail
preferredNode="node9:SwgGameServer:sceneID=space_dantooine groundScene"
preferredNode="node9:SwgGameServer:sceneID=space_light1 groundScene"
preferredNode="node9:SwgGameServer:sceneID=kashyyyk_rryatt_trail groundScene"
preferredNode="node9:SwgGameServer:preloadNumber=4 sceneID=endor groundScene"

preferredNode="node9:PlanetServer:sceneID=space_dantooine watcherServicePort"
preferredNode="node9:PlanetServer:sceneID=space_light1 watcherServicePort"
preferredNode="node9:PlanetServer:sceneID=adventure2 watcherServicePort"

#11 - Xeon 3.2Ghz / 4Gb
maximumLoad.node10=6.0f
#tatooine.1 (SW-Wayfar,Jabba) : space_kashyyyk : space_dathomir
preferredNode="node10:SwgGameServer:preloadNumber=1 sceneID=tatooine groundScene"
preferredNode="node10:SwgGameServer:sceneID=space_kashyyyk groundScene"
preferredNode="node10:SwgGameServer:sceneID=space_dathomir groundScene"
preferredNode="node10:SwgGameServer:preloadNumber=3 sceneID=yavin4 groundScene"

preferredNode="node10:PlanetServer:sceneID=space_heavy1 watcherServicePort"
preferredNode="node10:PlanetServer:sceneID=space_kashyyyk watcherServicePort"

#12 - Xeon 3.2Ghz / 4Gb
maximumLoad.node11=5.0f
# dungeon1.4 (Star Destroyer, IG-88, Axkva Min, Exar Kun) : talus.1 (S-outside Dearic, GCW base) : space_yavin4
preferredNode="node11:SwgGameServer:preloadNumber=4 sceneID=dungeon1 groundScene"
preferredNode="node11:SwgGameServer:preloadNumber=1 sceneID=talus groundScene"
preferredNode="node11:SwgGameServer:sceneID=space_yavin4 groundScene"

preferredNode="node11:PlanetServer:sceneID=adventure1 watcherServicePort"
preferredNode="node11:PlanetServer:sceneID=rori watcherServicePort"

#13 - Xeon 3.2Ghz / 4Gb
maximumLoad.node12=5.0f
#space_heavy1 : tatooine.11 (Mos Taike, outside Mos Entha) : dantooine.4 (SW-Imperial Outpost)
preferredNode="node12:SwgGameServer:sceneID=space_heavy1 groundScene"
preferredNode="node12:SwgGameServer:preloadNumber=11 sceneID=tatooine groundScene"
preferredNode="node12:SwgGameServer:preloadNumber=4 sceneID=dantooine groundScene"

preferredNode="node12:PlanetServer:sceneID=space_npe_falcon_3 watcherServicePort"
preferredNode="node12:PlanetServer:sceneID=yavin4 watcherServicePort"

#14 - Xeon 3.2Ghz / 4Gb
maximumLoad.node13=5.0f
#mustafar.2 (Right, Mensix Mining Outpost) : space_nova_orion : tatooine.8 (outside Mos Espa, Fort Tusken)
preferredNode="node13:SwgGameServer:preloadNumber=2 sceneID=mustafar groundScene"
preferredNode="node13:SwgGameServer:sceneID=space_nova_orion groundScene"
preferredNode="node13:SwgGameServer:preloadNumber=8 sceneID=tatooine groundScene"

preferredNode="node13:PlanetServer:sceneID=space_npe_falcon watcherServicePort"
preferredNode="node13:PlanetServer:sceneID=space_nova_orion watcherServicePort"

#15 - Pentium III         1.4Ghz / 4Gb
#kashyyyk_north_dungeons : mustafar.3 (Left)
preferredNode="node14:SwgGameServer:sceneID=kashyyyk_north_dungeons groundScene"
preferredNode="node14:SwgGameServer:preloadNumber=3 sceneID=mustafar groundScene"

preferredNode="node14:PlanetServer:sceneID=tutorial watcherServicePort"

#16 - Pentium III         1.4Ghz / 4Gb
#mustafar.1 (Dungeons) : tatooine.2 (Mos Entha)
preferredNode="node15:SwgGameServer:preloadNumber=1 sceneID=mustafar groundScene"
preferredNode="node15:SwgGameServer:preloadNumber=2 sceneID=tatooine groundScene"

preferredNode="node15:PlanetServer:sceneID=mustafar watcherServicePort"

#17 - Pentium III         1.4Ghz / 4Gb
#dungeon1.2 (Tansarii Station, Gamma Station, Nova Orion Station, IG-88, Axkva Min, Exar Kun,  Meatlump bunker) : #naboo.3 (N of Theed & Moenia in SE)
preferredNode="node16:SwgGameServer:preloadNumber=2 sceneID=dungeon1 groundScene"
preferredNode="node16:SwgGameServer:preloadNumber=3 sceneID=naboo groundScene"

preferredNode="node16:PlanetServer:sceneID=talus watcherServicePort"

#18 - Pentium III         1.4Ghz / 2Gb
#dantooine.7 (SE) : kashyyyk_main
preferredNode="node17:SwgGameServer:preloadNumber=7 sceneID=dantooine groundScene"
preferredNode="node17:SwgGameServer:sceneID=kashyyyk_main groundScene"

preferredNode="node17:PlanetServer:sceneID=dantooine watcherServicePort"

#19 - Pentium III         1.4Ghz / 2Gb
#endor.3 (Death Watch Bunker)
preferredNode="node18:SwgGameServer:preloadNumber=3 sceneID=endor groundScene"
#dantooine.6 (outside Mining Outpost)
preferredNode="node18:SwgGameServer:preloadNumber=6 sceneID=dantooine groundScene"


preferredNode="node18:PlanetServer:sceneID=dathomir watcherServicePort"

#20 - Pentium III         1.4Ghz / 2Gb
#corellia.1 (tyrena, doaba guerfel) : space_npe_falcon
preferredNode="node19:SwgGameServer:preloadNumber=1 sceneID=corellia groundScene"
preferredNode="node19:SwgGameServer:sceneID=space_npe_falcon groundScene"

preferredNode="node19:PlanetServer:sceneID=dungeon1 watcherServicePort"
   
#21 - Pentium III         1.4Ghz / 2Gb
#naboo.5 (Kaadara, outside Kaadara) : tutorial.2 (South)
preferredNode="node20:SwgGameServer:preloadNumber=5 sceneID=naboo groundScene"
preferredNode="node20:SwgGameServer:preloadNumber=2 sceneID=tutorial groundScene"

preferredNode="node20:PlanetServer:sceneID=space_dathomir watcherServicePort"

#22 - Pentium III         1.4Ghz / 2Gb
#corellia.3 (kor vella) : kashyyyk_south_dungeons
preferredNode="node21:SwgGameServer:preloadNumber=3 sceneID=corellia groundScene"
preferredNode="node21:SwgGameServer:sceneID=kashyyyk_south_dungeons groundScene"

preferredNode="node21:PlanetServer:sceneID=kashyyyk_north_dungeons watcherServicePort"
   
#23 - Pentium III         1.4Ghz / 2Gb
#corellia.5 (outside coronet) : corellia.2 (bela vistal/vreni island) 
preferredNode="node22:SwgGameServer:preloadNumber=5 sceneID=corellia groundScene"
preferredNode="node22:SwgGameServer:preloadNumber=2 sceneID=corellia groundScene"

preferredNode="node22:PlanetServer:sceneID=kashyyyk_hunting watcherServicePort"

#24 - Pentium III         1.4Ghz / 3Gb
#kashyyyk_hunting : naboo.2 (S of Theed-Lake Retreat) 
preferredNode="node23:SwgGameServer:sceneID=kashyyyk_hunting groundScene"
preferredNode="node23:SwgGameServer:preloadNumber=2 sceneID=naboo groundScene"

preferredNode="node23:PlanetServer:sceneID=endor watcherServicePort"

#25 - Pentium III         1.4Ghz / 2Gb
#tatooine.5 (outside Mos Eisley) : tatooine.10 (outside Bestine)
preferredNode="node24:SwgGameServer:preloadNumber=5 sceneID=tatooine groundScene"
preferredNode="node24:SwgGameServer:preloadNumber=10 sceneID=tatooine groundScene"

preferredNode="node24:PlanetServer:sceneID=lok watcherServicePort"

#end load distribution
