CentralServer local CentralServer_d -- @../../exe/shared/servercommon.cfg -s CentralServer loginServerAddress=swo-dev6.station.sony.com clusterName=DesignGalaxy
ConnectionServer local ConnectionServer_d -- @../../exe/shared/servercommon.cfg -s ConnectionServer loginServerAddress=swo-dev6.station.sony.com clusterName=DesignGalaxy
SwgDatabaseServer local SwgDatabaseServer_d -- @../../exe/shared/servercommon.cfg -s dbProcess centralServerAddress=swo-dev7.station.sony.com databaseProtocol=OCI DSN=swodb databaseUID=designcluster databasePWD=changeme
PlanetServer local PlanetServer_d -- @../../exe/shared/servercommon.cfg -s PlanetServer centralServerAddress=swo-dev7.station.sony.com sceneID=tatooine
SwgGameServer local SwgGameServer_d -- @../../exe/shared/servercommon.cfg -s GameServer centralServerAddress=swo-dev7.station.sony.com sceneID=tatooine groundScene=terrain/tatooine.trn clusterName=DesignGalaxy useTemplates=1 javaLibPath=/usr/java/jre/lib/i386/server/libjvm_none.so
ChatServer local ChatServer_d -- @../../exe/shared/srvercommon.cfg

